extends includes/layout-template

block content
  h3 Cart
  table.small-12.columns.cart-empty
    tbody
      tr
        td.text-center You have no items in your shopping cart. Return to our <a href="pricing_v2.html">Products Page</a> in order to continue.