extends includes/layout-template

block content
  h2.text-center
    | Everything on CrimView account is 
    span.green-highlight safe
    | , 
    span.green-highlight secure 
    | and 
    span.green-highlight password-protected

  .small-12.columns
    section.products-pricingTable
      ul.small-block-grid-3
        li.products-package
          header
            p.products-name Premium
            p.products-price $99/month
            p.products-user-type For Power Users
          ul.products-features
            li Up to 40 users
            li 30 GB Storage
            li Unlimited deals
            li Up to 40 users
            li 30 GB Storage
          a.button.radius.small(href="#") Choose Plan

        li.products-package_special
          header
            p.products-name Premium
            p.products-price $99/month
            p.products-user-type For Power Users

          ul.products-features
            li Up to 40 users
            li 30 GB Storage
            li Unlimited deals
            li Up to 40 users
            li 30 GB Storage
          a.button.radius.small(href="#") Choose Plan

        li.products-package
          header
            p.products-name Premium
            p.products-price $99/month
            p.products-user-type For Power Users

          ul.products-features
            li Up to 40 users
            li 30 GB Storage
            li Unlimited deals
            li Up to 40 users
            li 30 GB Storage
          a.button.radius.small(href="#") Choose Plan
