extends includes/layout-template

block content

  // Search Form
  section.small-6.columns
    //Heading
    h1.search-form-title.text-center
      | Search by:
      br
      span.normal-weight Name and State
    
    //Form
    div.panel
      form.form-search(method='post', action='#', data-abide)
        
        // Form : First Name              
        div
          input(type='text', placeholder='First Name', name='first-name', required, pattern='alpha')
          small.error.text-center This name isn't valid.<br>Please, try again.
        
        // Form : Last Name
        div
          input(type='text', placeholder='Last Name', name='last-name', required, pattern='alpha')
          small.error.text-center This name isn't valid.<br>Please, try again.        
        
        // Form : Button  
        input.button.radius.small.expand.form-search-btn(type='submit', value='Start Search')

  // Security Text
  section.small-5.small-offset-1.columns.panel.security-info
    h2.security-info-title Our background check includes:
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>
    p
      | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut. Laboris nisi ut aliquip ex ea commodo consequat minim veniam, quis nostrud enim.
      br
      | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    img.security-info-bg(alt='', src='images/bg-lock-icon.png')