header.row.container
  div.text-center.small-8.small-offset-2.columns.v-middle
    a(href="#", class="logo" name="CrimView - Online Background Check")
  div.small-2.columns.text-right.v-middle
    .row
      a(href="#",class="button round outline small no-margin btn-login", data-reveal-id="loginModal") Client Login