extends layout-template

block before-content
  // Members Header & Menu
  section.members-header
    .row.container
      nav.small-4.columns
        ul.inline-list.text-center.members-nav
          li.selected: a My Orders          
          li: a(href="members-profile.html") Edit Profile
          li: a Accounting

      .small-2.columns.small-offset-2.menu-members-btn-new-search
        a.button.radius.tiny.no-margin.expand New Search
      
      .small-4.columns.menu-members-search-order
        form(action="", data-abide)
          .row
            .small-6.columns.menu-members-search-order-field
              input(type="text", name="search-order", placeholder="Order ID")             
            .small-6.columns
              input(type="submit", name="search-order-bt", value="Search Order", class="button radius tiny no-margin")  

block content
  // Members Content
  h1.text-center
    | Welcome to CrimView Customer Account Interface
    br
    small.subheading Please take the time to explore all new and exciting products we have to offer

  table.small-12.columns.radius.order-list
    thead
      tr
        th Order ID
        th Date
        th Time
        th Records
        th First Name
        th Last Name
        th SSN
        th &nbsp;
    tbody
      tr
        td 12345
        td 09 / 20 / 2010
        td 11:08:17 AM
        td 1228
        td Thomas
        td Green
        td 246-##-####
        td: a.button.grey.radius.expand.tiny.btn-open-report
              i.fa.fa-folder-open-o.fa-lg
              | Open
      tr
        td 12345
        td 09 / 20 / 2010
        td 11:08:17 AM
        td 1228
        td Thomas
        td Green
        td 246-##-####
        td: a.button.grey.radius.expand.tiny.btn-open-report
              i.fa.fa-folder-open-o.fa-lg
              | Open
      tr
        td 12345
        td 09 / 20 / 2010
        td 11:08:17 AM
        td 1228
        td Thomas
        td Green
        td 246-##-####
        td: a.button.grey.radius.expand.tiny.btn-open-report
              i.fa.fa-folder-open-o.fa-lg
              | Open
      tr
        td 12345
        td 09 / 20 / 2010
        td 11:08:17 AM
        td 1228
        td Thomas
        td Green
        td 246-##-####
        td: a.button.grey.radius.expand.tiny.btn-open-report
              i.fa.fa-folder-open-o.fa-lg
              | Open
      tr
        td 12345
        td 09 / 20 / 2010
        td 11:08:17 AM
        td 1228
        td Thomas
        td Green
        td 246-##-####
        td: a.button.grey.radius.expand.tiny.btn-open-report
              i.fa.fa-folder-open-o.fa-lg
              | Open
      tr
        td 12345
        td 09 / 20 / 2010
        td 11:08:17 AM
        td 1228
        td Thomas
        td Green
        td 246-##-####
        td: a.button.grey.radius.expand.tiny.btn-open-report
              i.fa.fa-folder-open-o.fa-lg
              | Open
      tr
        td 12345
        td 09 / 20 / 2010
        td 11:08:17 AM
        td 1228
        td Thomas
        td Green
        td 246-##-####
        td: a.button.grey.radius.expand.tiny.btn-open-report
              i.fa.fa-folder-open-o.fa-lg
              | Open

  block append-to-scripts