extends layout-template

block content
  // Searching Parameters
  section.search-parameters
    h1.search-parameters-heading You are searching for records on
    ul.small-block-grid-2.parameters-list
      li
        span.parameters-title First Name
        br
        | Thomas
      li
        span.parameters-title Last Name
        br
        | Thomas
      li
        span.parameters-title State
        br
        | NC
      li
        span.parameters-title Date of Birth
        br
        | 1979 / 03 / 07
    
  // State search
  section.stateChoice
    form(action='#', data-abide)
      select(name='state')
        option(selected='', disabled='', value='') State
        option(value='AL') Alabama
        option(value='AK') Alaska
        option(value='AZ') Arizona
        option(value='AR') Arkansas
        option(value='CA') California
        option(value='CO') Colorado
        option(value='CT') Connecticut
        option(value='DE') Delaware
        option(value='DC') District Of Columbia
        option(value='FL') Florida
        option(value='GA') Georgia
        option(value='HI') Hawaii
        option(value='ID') Idaho
        option(value='IL') Illinois
        option(value='IN') Indiana
        option(value='IA') Iowa
        option(value='KS') Kansas
        option(value='KY') Kentucky
        option(value='LA') Louisiana
        option(value='ME') Maine
        option(value='MD') Maryland
        option(value='MA') Massachusetts
        option(value='MI') Michigan
        option(value='MN') Minnesota
        option(value='MS') Mississippi
        option(value='MO') Missouri
        option(value='MT') Montana
        option(value='NE') Nebraska
        option(value='NV') Nevada
        option(value='NH') New Hampshire
        option(value='NJ') New Jersey
        option(value='NM') New Mexico
        option(value='NY') New York
        option(value='NC') North Carolina
        option(value='ND') North Dakota
        option(value='OH') Ohio
        option(value='OK') Oklahoma
        option(value='OR') Oregon
        option(value='PA') Pennsylvania
        option(value='RI') Rhode Island
        option(value='SC') South Carolina
        option(value='SD') South Dakota
        option(value='TN') Tennessee
        option(value='TX') Texas
        option(value='UT') Utah
        option(value='VT') Vermont
        option(value='VA') Virginia
        option(value='WA') Washington
        option(value='WV') West Virginia
        option(value='WI') Wisconsin
        option(value='WY') Wyoming
      small.error Please, select one state above.
    section.stateChoice-info
      ul.small-block-grid-3
        li
          span.stateChoice-info-title Availability
          br
          | Instant
        li
          span.stateChoice-info-title Price
          br
          | $18.95
        li
          span.stateChoice-info-title Coverage
          br
          a(href="#", data-reveal-id="coverage-modal") Click Here
      input.button.radius.expand(type='submit', value='Order Now')
      img.usa-map(alt='United States of America Map', src='images/bg-us-states.png')
  
  // Modal
  div(id="coverage-modal", class="reveal-modal", data-reveal)
    div
      h2.coverage-modal-title Arizona Criminal Record Search
      a.close-reveal-modal.close-x &#215;
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    ul.coverage-modal-list
      li
        dl
          dt Arizona Court Records
          dd Court records of statewide felony and misdemeanor dispositions from all counties except Pima and Maricopa since 1987. Results may show the defendant's name, DOB, identification number, record type, charge(s), disposition, physical description and sentence. Records updated regularly.
      li
        dl
          dt Arizona Corrections Records
          dd Corrections records of statewide felony criminal convictions on persons who have been sentenced to serve time at a state facility since 1985. Results may show the defendant's name, DOB, identification number, record type, charge(s), disposition, disposition date, physical description and sentence. Records updated regularly.
      li
        dl
          dt Pima County (metro Tucson) Court Records
          dd Court records of felony and misdemeanor dispositions since 1990. Search results may show the defendant's name, DOB, charges(s), disposition, disposition date, physical description and sentence. Records updated regularly.
      li
        dl
          dt Maricopa County Inmate Records
          dd Countywide felony, misdemeanor and traffic violation records. Search results may show the defendant's name, DOB, sex, race, height, weight, hair&eye color and booking date. These records do not mean a guilty charge on the person searched. Records updated regularly.
      li
        dl
          dt Arizona Sex Offender Records
          dd Level 2 and Level 3 Sex offenders sentenced since June 1996. Records updated regularly.
      li
        dl
          dt Arizona Sex Offender Records
          dd Level 2 and Level 3 Sex offenders sentenced since June 1996. Records updated regularly.
      li
        dl
          dt Arizona Sex Offender Records
          dd Level 2 and Level 3 Sex offenders sentenced since June 1996. Records updated regularly.
      li
        dl
          dt Arizona Sex Offender Records
          dd Level 2 and Level 3 Sex offenders sentenced since June 1996. Records updated regularly.
      li
        dl
          dt Arizona Sex Offender Records
          dd Level 2 and Level 3 Sex offenders sentenced since June 1996. Records updated regularly.
      li
        dl
          dt Arizona Sex Offender Records
          dd Level 2 and Level 3 Sex offenders sentenced since June 1996. Records updated regularly.
            
block append-to-scripts