extends layout-template

block content
  h1.text-center
    span.bold-weight 30-day Free Trial on All Accounts
    br
    small.subheading Pick a plan &amp; sign up in 60 seconds. Upgrade, downgrade, cancel at any time.

  // old
    .small-12.columns
      section.products-pricingTable
        ul.no-bullet
          li.products-package
            header
              p.products-name Premium
              p.products-price $99/month
              p.products-user-type For Power Users
            ul.products-features
              li Up to 40 users
              li 30 GB Storage
              li Unlimited deals
              li Up to 40 users
              li 30 GB Storage
            a.button.radius.small(href="#") Choose Plan

          li.products-package_special
            header
              p.products-name Premium
              p.products-price $99/month
              p.products-user-type For Power Users

            ul.products-features
              li Up to 40 users
              li 30 GB Storage
              li Unlimited deals
              li Up to 40 users
              li 30 GB Storage
            a.button.radius.small(href="#") Choose Plan

          li.products-package
            header
              p.products-name Premium
              p.products-price $99/month
              p.products-user-type For Power Users

            ul.products-features
              li Up to 40 users
              li 30 GB Storage
              li Unlimited deals
              li Up to 40 users
              li 30 GB Storage
            a.button.radius.small(href="#") Choose Plan

  .small-12.columns
    section.products-pricingTable
      ul.small-block-grid-3
        li.products-package
          header
            p.products-name Premium
            p.products-price $99/month
            p.products-user-type For Power Users
          ul.products-features
            li Up to 40 users
            li 30 GB Storage
            li Unlimited deals
            li Up to 40 users
            li 30 GB Storage
          a.button.radius.small(href="#") Choose Plan

        li.products-package_special
          header
            p.products-name Premium
            p.products-price $99/month
            p.products-user-type For Power Users

          ul.products-features
            li Up to 40 users
            li 30 GB Storage
            li Unlimited deals
            li Up to 40 users
            li 30 GB Storage
          a.button.radius.small(href="#") Choose Plan

        li.products-package
          header
            p.products-name Premium
            p.products-price $99/month
            p.products-user-type For Power Users

          ul.products-features
            li Up to 40 users
            li 30 GB Storage
            li Unlimited deals
            li Up to 40 users
            li 30 GB Storage
          a.button.radius.small(href="#") Choose Plan


  h2.text-center
    | Everything on CrimView account is 
    span.green-highlight safe
    | , 
    span.green-highlight secure 
    | and 
    span.green-highlight password-protected

  section.row.faqYes
    div.small-6.columns
      ul
        li Can I import my contacts from Outlook or Excel?
        li Can I keep meeting notes in Highrise?
        li Can I attach documents and contracts to contacts in Highrise?
        li Can I track our proposals and deals with Highrise?
        li Can I access my contacts on an iPhone or Android phone?
        li Can I set a follow-up task after I enter a note?
        li Can I assign a task to a fellow co-worker?
        li Can I keep track of the last time I talked to someone?
        li Can I use Highrise to keep track of employee reviews?
        li Can I import contacts from the Mac address book? vCards?
        li Can I find out how much business we won this month?
        li Can I get task reminders via email/SMS on my mobile?
        li Can I access my contacts if I’m in someone else’s office?
        li Can I keep important emails in Highrise?
        li Can I easily export contacts, notes, and emails from Highrise?


    div.small-6.columns
      ul
        li Can I use Highrise to remind me of a client’s birthday?
        li Can I store all my contact’s contact info in Highrise?
        li Can I use Highrise together with my co-workers?
        li Can I see a map of where a contact is located?
        li Can I see a list of everyone I know with a 312 area code?
        li Can I tag a group of contacts so I can easily find them later?
        li Can I keep some tasks to myself and share others with everyone?
        li Can I use Highrise to keep track of conversations with vendors?
        li Can I forward important emails directly to Highrise?
        li Can I set a reminder to call someone back in 30 days?
        li Can I use Highrise on a Mac? A PC? An iPad?
        li Can I keep some contacts private so only I can see them?
        li Can I use Highrise to remember who I talked to last week?
        li Can I comment on a client’s email without them seeing it?
        li Can I categorize my tasks (emails to send, calls to make, etc)?




  section.small-10.columns.small-centered.faqBox
    .row
      ul.small-6.columns.no-bullet
        li
          dl
            dt How does the 30-day free trial work?
            dd If you cancel a paying plan within 30 days of signing up you won’t be charged a thing. If you do choose to cancel your account in the future you will never be charged again, but you are responsible for charges already incurred up until your cancellation. Refunds can not be issued after your initial 30 day trial and we don’t prorate for partial months.

        li
          dl
            dt How does the 30-day free trial work?
            dd If you cancel a paying plan within 30 days of signing up you won’t be charged a thing. If you do choose to cancel your account in the future you will never be charged again, but you are responsible for charges already incurred up until your cancellation. Refunds can not be issued after your initial 30 day trial and we don’t prorate for partial months.
       
        li
          dl
            dt Can I change plans at any time?
            dd Yep. Simply click on the “Account” tab on your dashboard and you’ll see your options.
      ul.small-6.columns.no-bullet
        li
          dl
            dt How does the 30-day free trial work?
            dd If you cancel a paying plan within 30 days of signing up you won’t be charged a thing. If you do choose to cancel your account in the future you will never be charged again, but you are responsible for charges already incurred up until your cancellation. Refunds can not be issued after your initial 30 day trial and we don’t prorate for partial months.

        li
          dl
            dt Do I get a 30-day free trial if I upgrade?
            dd If you upgrade from a free account to a pay account you are not eligible for the 30-day free trial. The 30-day free trial on paying plans only applies if you sign up for a paying plan now. You can always downgrade later if you choose.

        li
          dl
            dt Can I change plans at any time?
            dd Yep. Simply click on the “Account” tab on your dashboard and you’ll see your options.

    .row
      div.faqBox-safeData
        img.left(src="images/icon-lock.png")      
        div.left
          dl
            dt Your data is safe and secure
            dd Our state-of-the-art computer servers are protected by biometric locks and 24-hour surveillance. Our product software and infrastructure is updated regularly with the latest security patches. Our network is protected by an enterprise-class firewall to keep your data safe.
