footer.second-nav
  .row.container
    nav.small-6.columns.small-centered
      ul.inline-list.text-center
        li: a(href='#') Database Coverage
        li: a(href='#') Privacy Policy
        li: a(href='#') Cart
        li: a(href='#') Contact